<!DOCTYPE html>
<html>
<head>
  <title>Parking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Find', parking_find_path %>
<%= link_to 'Share', parking_share_path %>
<%= yield %>

</body>
</html>
